.container{
    background-color: #CE881D ;
    height : 70vh;
    display : flex; 
    flex-direction: column;
    justify-content: center;
    margin-top : 1em

}

.description-content {

    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
}