.main {
    background-color: white;
    height : 70vh;
    display : flex; 
    align-items: center;
    justify-content:center;
}

.imagePlace{
    width: 100%;
}

@media screen and (max-width : 740px){

    .main {
        height : 35vh;
    }

}