
.maintable {
  display: flex;
  flex-direction: raw;
  justify-content: space-around;
  align-items: center;
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 10em;
}


@media screen and (max-width: 1050px) {
  .maintable {
    display: none;
    flex-direction: raw;
    justify-content: space-around;
    align-items: center;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 5em;
  }
}
